<!DOCTYPE html>
<html>
<head>
  <title>FDM Timesheets</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
  <script src="**/components/directives/fdmHeader/fdmHeader.html"></script>
</head>
<body ng-app="fdmTimesheet" ng-controller="myCtrl">
    <div ng-view></div>
    <div id="fdmHeaderContainer" class="row col-xs-12">
        <div id="fdmHeaderBar">
            <h1><img id="fdm-logo" src="client/assets/images/fdm-logo.jpg" height="42" width="84">
            FDM Timesheet</h1>
        </div>
   </div>
<div id="userEntry" class="row col-xs-12 col-xs-offset-1">
   <table id="timesheetInputTable">
    <h3>Week: <input ng-model="timesheetTable.week"></h3>
      <tr><th ng-repeat = "days in dayTable"> {{ days | uppercase }}</th></tr>
        <tr class="Date">
            <td><input ng-model="timesheetTable.dateFields[0]" type="date"/></td>
            <td><input ng-model="timesheetTable.dateFields[1]" type="date"/></td>
            <td><input ng-model="timesheetTable.dateFields[2]" type="date"/></td>
            <td><input ng-model="timesheetTable.dateFields[3]" type="date"/></td>
            <td><input ng-model="timesheetTable.dateFields[4]" type="date"/></td>
        </tr>
        <tr class="Hours">
            <td><input ng-model="timesheetTable.hourFields[0]" type="number" placeholder="Hours Worked"/></td>
            <td><input ng-model="timesheetTable.hourFields[1]" type="number" placeholder="Hours Worked"></td>
            <td><input ng-model="timesheetTable.hourFields[2]" type="number" placeholder="Hours Worked"/></td>
            <td><input ng-model="timesheetTable.hourFields[3]" type="number" placeholder="Hours Worked"/></td>
            <td><input ng-model="timesheetTable.hourFields[4]" type="number" placeholder="Hours Worked"/></td>
        </tr>
        <tr class="Breaks">
            <td><input ng-model="timesheetTable.breakFields[0]" type="number" placeholder="Break Time Taken"/></td>
            <td><input ng-model="timesheetTable.breakFields[1]" type="number" placeholder="Break Time Taken"/></td>
            <td><input ng-model="timesheetTable.breakFields[2]" type="number" placeholder="Break Time Taken"/></td>
            <td><input ng-model="timesheetTable.breakFields[3]" type="number" placeholder="Break Time Taken"/></td>
            <td><input ng-model="timesheetTable.breakFields[4]" type="number" placeholder="Break Time Taken"/></td>
        </tr>
    </table>
</div>
      
<div id ="userDisplay" class="row col-xs-12 col-xs-offset-1">
    <li>Week Number: {{timesheetTable.week}}</li>
    <li> Hours worked: {{ timesheetTable.hourFields[0] + timesheetTable.hourFields[1] + timesheetTable.hourFields[2] + timesheetTable.hourFields[3] + timesheetTable.hourFields[4] }} </li>
    <li> Breaks taken: {{ timesheetTable.breakFields[0] + timesheetTable.breakFields[1] + timesheetTable.breakFields[2] + timesheetTable.breakFields[3] + timesheetTable.breakFields[4] }} </li>
    <li> Total hours worked : {{ ( timesheetTable.hourFields[0] + timesheetTable.hourFields[1] + timesheetTable.hourFields[2] + timesheetTable.hourFields[3] + timesheetTable.hourFields[4] ) - ( timesheetTable.breakFields[0] + timesheetTable.breakFields[1] + timesheetTable.breakFields[2] + timesheetTable.breakFields[3] + timesheetTable.breakFields[4] ) }}</li>
    <li> On site rate: {{ ((( timesheetTable.hourFields[0] + timesheetTable.hourFields[1] + timesheetTable.hourFields[2] + timesheetTable.hourFields[3] + timesheetTable.hourFields[4] ) - ( timesheetTable.breakFields[0] + timesheetTable.breakFields[1] + timesheetTable.breakFields[2] + timesheetTable.breakFields[3] + timesheetTable.breakFields[4] ))/7.5) * 16.80 | currency:"£" }} </li>
    <pre>{{ timesheetTable | json }}</pre>
</div>
<script>
var app = angular.module('fdmTimesheet', []);
app.controller('myCtrl', function($scope) {
    
    $scope.dayTable = [
         'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'
    ]
    
    $scope.timesheetTable = {   week: "",
                                hourFields: [],
                                breakFields: [],
                                dateFields: [] 
                            };

  $scope.refresh = function() {
    window.location.reload();

  }
});
</script>
</body>
</html>